body {
    background-color: #f5ffff;
    margin: 50px 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
    display: inline;
    /* border-right: 3px solid black; */
    font-size: 150%;
    font-weight: bold;
}

a:hover {
    color: #F1A01D;
}


#menu-bar {
    padding: 10px;
    background-color: #ffffff;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 15px 15px #F1A01D;
}

#intro {
    padding: 50px;
    background-color: #ffffff;
    border: 5px solid #000000;
    border-radius: 20px;
    box-shadow: 15px 15px #000000;
    width: 60%;
    margin: auto;
}

#my-work, #my-skills{
    padding: 0px;
    background-color: #ffffff;
    border: 5px solid #000000;
    border-radius: 20px;
    box-shadow: 15px 15px #000000;
}

#my-work img {
    width: 40%;
}

#img-container {
    border: 2px solid #000000;
}

#title {
    background-color: #F1A01D;
    color: #ffffff;
    padding: 1px 15px;
    border-radius: 15px 15px 0px 0px;
}